[flake8]
max-line-length = 127
extend-ignore = E203, E266, E501, W503, F541
max-complexity = 10
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    .mypy_cache,
    .github,
    tests/fixtures

per-file-ignores =
    __init__.py: F401
    examples/*.py: E402
    *: C901
